// vim: ft=sass ts=2 sts=2 sw=2
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:200,400');

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
}

body {
  width: 100%;

  font-family: 'Fira Sans Condensed', sans-serif;
}


@mixin clearfix() {
  content: "";
  display: block;
  clear: both;
}


.hide {
  display: none;
}

$pc-bc: #242424;
.pcounter {
  display: block;
  position: absolute;
  right: 0.3em;
  bottom: 0.3em;
  width: 15.5em;
  color: #eeeeee;
  background-color: $pc-bc;
  border: 1px solid #484848;
  line-height: 1.55em;
  padding: 0.25em;

  ul {
  }

  &__title {
    font-size: 90%;
    text-align: center;
    padding-bottom: 0.5em;
  }

  &__status {
    list-style-type: none;
    // margin-left: auto;
    // margin-right: auto;
  }

  &__label {
    display: inline;
    color: #888888;
  }

  &__value {
    display: inline-block;
    padding-right: 0.5ex;
    font-size: 1.8em;
    font-weight: 200;
    width: 50%;
    text-align: right;
  }
}

$normal-game-bgcolor: rgba(42, 237, 91, 100);
.normal-game {
  background: linear-gradient(to right, $normal-game-bgcolor 1%, $pc-bc 3%, $pc-bc 97%, $normal-game-bgcolor 99%);
}

$chancetime-bgcolor: #edcc29;
.chance-time {
  background: linear-gradient(to right, $chancetime-bgcolor 1%, $pc-bc 3%, $pc-bc 97%, $chancetime-bgcolor 99%);
}
