// vim: ft=sass ts=2 sts=2 sw=2
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:200,400');

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Fira Sans Condensed', sans-serif;
}


@mixin clearfix() {
  content: "";
  display: block;
  clear: both;
}

.hide {
  display: none !important;
}

$pc-bc: #242424;

.pcounter {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.3em;
  width: 80%;
  color: #eeeeee;
  background-color: $pc-bc;
  border: 1px solid #484848;
  border-radius: 5px;
  line-height: 1.55em;
  margin: 0 auto;
  padding: 0.25em;

  ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }

  li {
    display: inline-block;
    margin-right: 2em;

    &:last-child {
      margin-right: 0;
    }
  }

  &__title {
    font-size: 90%;
    text-align: center;
    background-color: #343434;
  }

  &__status {
  }

  &__label {
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    color: #888888;
  }

  &__value {
    display: inline-block;
    padding-right: 0.5ex;
    font-size: 1em;
    font-weight: 400;
    text-align: left;
  }
}

$chancetime-color: #edcc29;
.chance-time {
  color: $chancetime-color;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  75% {
    opacity: 0.0;
  }
}
