//vim: ft=sass ts=2 sts=2 sw=2
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400,500');

@import "_init";
@import "_utility";

$pc-bc: #242424;

.pcounter {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.3em;

  width: 80%;
  line-height: 1.55em;

  color: #eeeeee;
  background-color: $pc-bc;
  border: 1px solid #484848;
  border-radius: 5px;

  margin: 0 auto;
  padding: 0.25em;

  ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }

  li {
    display: inline-block;
    margin-right: 2em;

    &:last-child {
      margin-right: 0;
    }
  }

  &__title {
    font-size: 90%;
    font-weight: 500;
    text-align: center;
    background-color: #444444;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 5px;
  }

  &__status {
    flex-grow: 1;
    padding-left: 2em;
    padding-right: 2em;
  }

  &__label {
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    color: #888888;
  }

  &__value {
    display: inline-block;
    padding-right: 0.5ex;
    font-size: 1em;
    font-weight: 500;
    text-align: left;
  }
}

$chancetime-color: #edcc29;
.chance-time {
  color: $chancetime-color;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  75% {
    opacity: 0.0;
  }
}
